<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 border p-4">
            <h2 class="mb-4">User Login</h2>

            {{#if alert}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{alert}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}


            <form action="/auth/login" method="post">
                <div class="mb-3">
                    <label for="email_id" class="form-label">Email address</label>
                    <input type="email_id" class="form-control" id="email_id" name="email_id"
                        aria-describedby="emailHelp" placeholder="Enter your email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <button class="btn btn-outline-secondary" type="button" id="password-toggle"><i
                                class="bi bi-eye"></i></button>
                    </div>
                </div>

                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember met</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

                </b>
                <div class="mb-3 form-check">
                </div>

            </form>

            <p>Not register? <a href="/auth/register">Register</a></p>

        </div>
    </div>
</div>