<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>Reset Password</h2>
            <!--
                {{#if alert}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{alert}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{/if}}
-->
<p> User Role    {{user.user_role}}</p>

            <form method="post" action="/auth/reset-password">
                <div class="mb-3">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email_id" name="email_id" value="{{data.email_id}}"
                        required>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="{{data.password}}"
                        required placeholder="Enter your new password" aria-describedby="passwordHelp"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).{6,20}$">
                    <div id="passwordeHelp" class="form-text">Password between 6 to 20 characters which contain numbers,
                        uppercase/lowercase letters and at least one special character.</div>
                </div>

                </b>
                <button type="submit" class="btn btn-primary">Reset password</button>
            </form>
        </div>
    </div>
</div>