<div class="container mt-3">
    <div></div>
</div>

<!-- <footer class="footer mt-auto py-3 bg-light"> 
    <div class="container">
        <span class="text-muted">© My App 2023</span>
    </div>
</footer> -->

<script>
    // Get the current URL path
    const path = window.location.pathname;
    // Loop through each menu item and add the active class to the corresponding item
    const menuItems = document.querySelectorAll('.navbar-nav .nav-link');
    menuItems.forEach(item => {
        if (item.getAttribute('href') === path) {
            item.classList.add('active');
        }
    });
    const dropdownItems = document.querySelectorAll('.dropdown-menu .dropdown-item');
    dropdownItems.forEach(item => {
        if (item.getAttribute('href') === path) {
            item.classList.add('active');
        }
    });
</script>

{{!-- <script>
    // Activate current page in navbar
    /*$(document).ready(function () {
        // Get current URL path
        var pathname = window.location.pathname;

        // Add active class to corresponding nav-link
        $('.navbar-nav > li > a[href="' + pathname + '"]').addClass('active');

        // Add active class to corresponding dropdown item
        $('.navbar-nav .dropdown-menu a[href="' + pathname + '"]').addClass('active');
    });*/

    /* document.addEventListener("DOMContentLoaded", function () {
        // get all dropdown items
        const dropdownItems = document.querySelectorAll('.dropdown-item');
        // loop through each dropdown item
        dropdownItems.forEach(item => {
            // add a click event listener to the item
            item.addEventListener('click', () => {
                // get the parent "nav-link dropdown-toggle" element
                const parent = item.closest('.nav-item dropdown').querySelector('.nav-link.dropdown-toggle');
                // add the "active" class to the parent element
                parent.classList.add('active');
            });
        });
    }); */
</script> --}}