<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top"> -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #4869d6">
    <!-- style="background-color: rgb(94, 50, 175)" -->
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <!-- <img src="/images/malpani-logo-2020.webp" width="40" height="45" class="d-inline-block align-top" alt="">  -->
            <div class="navbar-image-wrapper">
                <img src="/images/malpani-logo-2020.webp" width="35" height="40" class="d-inline-block align-top"
                    alt="">
            </div>
            &nbspMalpani Sales
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{#isEqual activePage '/'}}active{{/isEqual}}" href="/">Home</a>
                </li>

                {{#isEqual user.user_role "Admin"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Manage User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="/auth/register">Register New User</a></li>
                        <li><a class="dropdown-item" href="/auth/reset-password">Reset User's Password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">User Master</a></li>
                    </ul>
                </li>
                {{/isEqual}}

                {{#isEqual user.user_role "Admin"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Masters
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" href="/product/view">Products</a></li>
                        <li><a class="dropdown-item" href="/customer/view">Customers</a></li>                        
                    </ul>
                </li>
                {{/isEqual}}

                {{#isEqual user.user_role "Admin" "Dealer"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Transactions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="/po/view">Purchase Order</a></li>
                    </ul>
                </li>
                {{/isEqual}}

                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

            </ul>


            <div class="d-flex">
                {{#if user.username}}
                <span class="navbar-text" style="color:aliceblue">Welcome, {{user.username}}</span>
                {{else}}
                <span class="navbar-text">Welcome, Guest</span>
                {{/if}}
                <form method="POST" action="/auth/logout">
                    <button class="btn btn-outline-danger ms-3 custom-font" type="submit">
                        Logout
                    </button>
                </form>
            </div>

        </div>
    </div>
</nav>