<!DOCTYPE html>
<html>

<body>
    {{> header}}

    <div class="wrapper">
        <div class="container mt-3">
            <!-- <h1>Welcome to Malpani Sales App</h1>
        <p>This is the home page.</p> -->
            {{{body}}}
        </div>

    </div>

    {{> footer}}
</body>

</html>