<h1>Welcome to Malpani Group</h1>

<p>
  Group is well diversified business house active in Renewable energy, FMCG products, Amusement and Water Park,
  Real estate, Hotels etc. Malpani Group’s success story is no ordinary one. Our unceasing commitment to the
  satisfaction of our customers as well as the society by way of sharing the rewards with all has been and always will
  be the secret to our phenomenal growth.
  Our activities have given the small town of Sangamner as well as its surrounding areas a new modern face. Along with
  developing the infrastructure of Sangamner, we have managed to create social awareness, encourage education as well as
  inspire the people to dream big and aspire more without disturbing the rural roots. Malpani Group is glad to have
  played an active role in the transformation of Sangamner and in putting it on the industrial map of the world.
  We are committed to drawing upon the wisdom of past generations while utilising the innovation and enthusiasm of
  present generation in scaling greater heights than ever before...
  
  </p>



