html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px;
}

.content {
    /* padding-bottom: 50px; */
    /* set the height of your header and footer */
}

.footer {
    height: 50px;
    background-color: #f5f5f5;
}

/* Sticky footer styles */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar-brand {
    /*font-family: Arial, sans-serif;*/
    font-size: 28px;
}
.navbar-nav .nav-link {
    /*font-family: Arial, sans-serif;*/
    font-size: 17px;
}
.navbar-image-wrapper {
    background-color: white;
    padding: 2px;
    display: inline-block;
    border-radius: 3px;
  }
  